<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycat.mapper.JokeMapper">
	<resultMap id="BaseResultMap" type="com.ycat.pojo.JokeBean">
		<result column="joke_id" property="joke_id" jdbcType="VARCHAR" />
		<result column="joke_user_id" property="joke_user_id" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="article_like_count" property="article_like_count"
			jdbcType="INTEGER" />
		<result column="article_comment_count" property="article_comment_count"
			jdbcType="INTEGER" />
		<result column="post_time" property="post_time" jdbcType="TIMESTAMP" />
	</resultMap>

	<resultMap id="JokeLikeMap" type="com.ycat.pojo.JokeLikeBean">
		<result column="joke_id" property="joke_id" jdbcType="VARCHAR" />
		<result column="joke_user_id" property="joke_user_id" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="JokeCommentMap" type="com.ycat.pojo.CommentBean">
		<result column="comment_id" property="comment_id" jdbcType="VARCHAR" />
		<result column="joke_id" property="joke_id" jdbcType="VARCHAR" />
		<result column="comment_user_id" property="comment_user_id"
			jdbcType="VARCHAR" />
		<result column="comment_details" property="comment_details"
			jdbcType="VARCHAR" />
		<result column="comment_date" property="comment_date" jdbcType="TIMESTAMP" />
	</resultMap>

	<!-- id名称必须和 UserMapper中的方法名相对应 -->
	<insert id="addJoke" parameterType="com.ycat.pojo.JokeBean">
		insert into y_joke
		(joke_id,
		joke_user_id,
		title,
		content,
		post_time,
		article_like_count,
		article_comment_count
		) values
		(#{joke_id},
		#{joke_user_id},
		#{title},
		#{content},
		#{post_time},
		#{article_like_count},
		#{article_comment_count}
		)
	</insert>

	<!-- asc 按升序排列 (不用写，默认使用这个) desc 按降序排列 -->
	<select id="getJokeList" resultMap="BaseResultMap">
		select * from y_joke order by id desc
	</select>

	<select id="selectJokeLikeById" resultMap="JokeLikeMap">
		select * from
		y_joke_like
		where joke_id = #{joke_id}
	</select>
	
	<select id="selectJokeBeanById" parameterType="java.lang.String"
	resultType="com.ycat.pojo.JokeBean">
		select * from
		y_joke
		where joke_id = #{joke_id}
	</select>

	<insert id="thumbsJoke" parameterType="com.ycat.pojo.JokeLikeBean">
		insert into y_joke_like(
		joke_id,
		joke_user_id)
		values(
		#{joke_id},
		#{joke_user_id})
	</insert>

	<insert id="addComment" parameterType="com.ycat.pojo.CommentBean">
		insert into
		y_joke_comment(
		comment_id,
		joke_id,
		comment_user_id,
		comment_details,
		comment_date)
		values(
		#{comment_id},
		#{joke_id},
		#{comment_user_id},
		#{comment_details},
		#{comment_date})
	</insert>

	<select id="getJokeCommentById" resultMap="JokeCommentMap">
		select * from
		y_joke_comment where joke_id = #{joke_id} order by id desc
	</select>
	
	<update id="changeJokeLikeCount" parameterType="java.util.Map">
		update y_joke set
		article_like_count=#{article_like_count} where joke_id = #{joke_id}
	</update>

</mapper>